
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  #root {
    padding: 0;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media print {
  .no-print {
    display: none;
  }
}
